<html>
<head>
<title>
</title>
</head>
<body bgcolor="E6E6FA">
<H1 align="center"> <FONT face="Times New Roman" size = 12>
Salvatore School</H1></FONT>
<FONT face = "Verdana" size = 3>

<style type="text/css" scoped>
table.GeneratedTable {
width:100%;
background-color:#000066;
border-collapse:collapse;
border-width:12px;
border-color:#000066;
border-style:solid;
color:#FFFFFF;
}

table.GeneratedTable td, table.GeneratedTable th {
border-width:12px;
border-color:#000066;
border-style:solid;
}

table.GeneratedTable thead {
background-color:#000066;
}
</style>
<table class="GeneratedTable">
<tbody>
<tr>
<td align="center"><p><FONT face="Arial" size = 5><a href="/" style="text-decoration:none">HOME</a></td>
<td align="center"><FONT face="Verdana" size = 5>ACADEMICS</td>
<td  align="center"><FONT face="Verdana" size = 5>ANNOUNCEMENT</td>
<td align="center"><FONT face="Verdana" size = 5><a href="/about us" style="text-decoration:none">ABOUT US</a></td>
<td align="center"><FONT face="Verdana" size = 5>ADMISSIONS</td>
<td align="center"><FONT face="Verdana" size = 5>CONTACT US</td>
<td align="center"><FONT face="Verdana" size = 5><a href="/login" style="text-decoration:none">LOGIN</a></td>
</tr>
</tbody>
<h2 align="center">"some gyaan to be put in later"</h2>
<table cellspacing="40" align="center">
<form method="post" action="">
<tr>
<td>
<h2>Choose:<h2>
<select  name="chose" required>
    <option value="mark">Mark Attendance</option>
    <option value="add">Add Student</option>
    <option value="search">Search Student</option>
    <option value="delete">Delete Student</option>
    <option value="update">Update Student</option>
    <option value="export">Export data</option>
    <option value="report">Report</option>
</select>
</td>
</tr>
<tr>
<td><Button type="submit" style="color:black;">
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4></Button>
</td>
</tr>
</form>
</table>
</body>
</html>