<!...code for W3>
<html>
<head>
<title>
</title>
</head>   
<body bgcolor="E6E6FA">

<h2 align="center">"some gyaan to be put in later"</h2>
<table cellspacing="40" align="center">
<form method="post" action="">
<tr>
<td>
<h2>Class:<h2>
<select  name="std" required>
<option value="11">11<sup>th</sup> Class</option>
<option value="12">12<sup>th Class</option>
</select>
</td>
</tr>   
<tr>
<td>
<h2>Section:<h2>
<select  name="div" required>
<option value="a">Division A</option>
<option value="b">Division B</option>
<option value="c">Division C</option>
</select>
</td>
</tr>
<tr>
<td><Button type="submit" style="color:black;">
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Next&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4></Button>
</td>
</tr>
</form>
</table>
</body>
</html>

